# Terraform local artifacts
**/.terraform/
*.tfstate
*.tfstate.*
*.plan
*.tfplan
**/environments/*.tfvars
!**/environments/*.tfvars.example

# Node
node_modules/

# Env files
.env
.env.*
!*.example
!docker/.env.ops.local
!docker/.env.ops.local.example
!docker/.env.ops.prod

# OS/editor
.DS_Store
.vscode/
.idea/

# Logs
*.log
