#GRAFANA
GRAFANA_ADMIN_USER=platform_ops_grafana_admin
GRAFANA_ADMIN_PASSWORD=CHANGE_ME_LOCAL_GRAFANA_ADMIN_PASSWORD

#TOLGEE
TOLGEE_INITIAL_USERNAME=platform_ops_tolgee_admin
TOLGEE_INITIAL_PASSWORD=CHANGE_ME_LOCAL_TOLGEE_INITIAL_PASSWORD
TOLGEE_JWT_SECRET=CHANGE_ME_LOCAL_TOLGEE_JWT_SECRET_MIN_32_CHARS
