aws_region  = "us-east-1"
project     = "cv-web"
environment = "prod"

# Optional fixed bucket name. Leave empty to auto-generate unique suffix.
# state_bucket_name = "cv-web-prod-tfstate-yourcompany"
